<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charaset="utf-8">
    <title>Backbone Timer</title>
    <link rel="stylesheet" href="css/ramen.css">
    <link rel="stylesheet" href="css/timer.css">
    <script src="http://code.angularjs.org/angular-1.0.0rc11.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script language="javascript" type="text/javascript" src="js/common.js"></script>

  </head>
  <body ng-app ng-controller="AlbumCtrl" style="background-image:url(img/bg2.jpg);">
    <div>
      <header>
        <div class="meter">
          <div class="leftBar left-bar">GOZILLA:{{gozillaCounter}}</div>
          <div class="rightBar right-bar">ULTRAMAN:{{ultramanCounter}}</div>
        </div>
      </header>
      <img src="img/gozilla.png" class="gozilla box2d" ng-click="gozillaCountUp()">
      <img src="img/ultraman.png" class="ultraman box2d" id="ultraman" ng-click="ultramanCountUp()">
    </div>
    <div class="timer-area">
      <div class="counter">
        {{counter}}
      </div>
    </div>

    <!-- box2djs -->
    <script src="js/prototype-1.6.0.2.js"></script>
    <script src="js/box2d.js"></script>
    <script src="js/protoBox2d.js"></script>
    <script src="js/jquery-1.3.2.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" charset="utf-8">
      var j$ = jQuery.noConflict();
      
      j$(function() {
        new protoBox2d().init();
      });
    </script>

  </body>
</html>
